/* body {
    background: rgb(230, 230, 230);
} */

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../img/header2.jpg');
  background-position: center center;
  /* background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../img/header2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.thumbnails:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* .card:hover {
  background-color: red;
  width:80%;
  transition: width 1s;
} */

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5%;
  color: #000000;
  text-align: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.w-95 {
  width: 95% !important;
}

.stars-outer{
    position:relative;
    display:inline-block;
}

.stars-inner{
  position:absolute;
  top:0;
  left:0;
  white-space:nowrap;
  overflow:hidden;
  width:0;
}

.stars-outer::before{
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color:#ccc;
  font-size:0.75em;
}

.stars-inner::before{
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color:#f8ce0b;
  font-size:0.75em;
}

.card-body span{
  float:right
}

.signup_icon{
  margin:auto;
  padding:10px;
  background-color:#ccc;
}
/* .rating {
  position:absolute;
  display:flex;
  transform:rotateY(180deg);
}

.rating input{
  display:none;
}

.rating label{
  display:block;
  cursor:pointer;
  width:50px;
}

.rating label:before{
  content:'\f005';
  font-family: fontAwesome;
  position:relative;
  display:block;
  font-size:50px;
}

.rating label:after{
  content:'\f005';
  font-family: fontAwesome;
  position:absolute;
  display:block;
  font-size:50px;
  color:#FFFF00;
  top:0;
  opacity:0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity:1;
} */


/* Your custom.css file below here */

/* .card:hover {
  background-color: red;
  width:80%;
  transition: width 1s;
} */


/* .rating {
  position:absolute;
  display:flex;
  transform:rotateY(180deg);
}

.rating input{
  display:none;
}

.rating label{
  display:block;
  cursor:pointer;
  width:50px;
}

.rating label:before{
  content:'\f005';
  font-family: fontAwesome;
  position:relative;
  display:block;
  font-size:50px;
}

.rating label:after{
  content:'\f005';
  font-family: fontAwesome;
  position:absolute;
  display:block;
  font-size:50px;
  color:#FFFF00;
  top:0;
  opacity:0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity:1;
} */
