/* Ensures content between Header & Footer takes up whole page */
html,body{
  height: 100%;
  width: 100%;
}

#rootContainer{
  min-height: 100%;
  padding-right:0;
  padding-left:0;
}

body{
  font-family:Quicksand;
  font-weight:bold;
}

header.masthead {
  padding-top: 8rem;
  padding-bottom: 25rem;
  background-image: url('../img/header2.jpg');
  width:100%;
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:2.5em;
}

header .container{
  padding-top:10em;
}


.featured{
  margin-bottom:2.5rem;
  padding-top: 20rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../img/featured_recipe.jpg');
  width:100%;
  height:30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline:3px solid #fff;
  outline-offset:-20px;
  margin-top:2.5em;
  opacity:0;
}

.featured-box{
  background-color:orange;
  width:40%;
  height:40%;
  margin-left:2rem;
  padding:1rem;
}

#feature-cards{
  opacity:0;
}


#search-items a{

  transition: margin 0.5s;
}

#search-items a:hover{
  margin-left:5rem;
}

.bg-orange{
  background-color: rgba(208,57,88);

}

#sidebar ul li:hover{
  background-color:rgba(208,57,88);
  color:white;
  width:100%;
}


#sidebar ul a{
  transition: width 0.5s;
  width:70%;
}
#sidebar ul a li h5{
  padding: 1rem;
}
#side ul li a{
  text-align:center;
}
#sidebar ul a:hover{
  color:white;
  width:100%;
}

.ml-5{
  margin-left:2.5em!important;
}

#featured-card a{
  text-decoration:none;
  color:black;
}

#featured-card a:hover{
  animation : pulse 400ms linear;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.thumbnails:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5%;
  color: #000000;
  text-align: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.w-95 {
  width: 95% !important;
}

.stars-outer{
    position:relative;
    display:inline-block;
}

.stars-inner{
  position:absolute;
  top:0;
  left:0;
  white-space:nowrap;
  overflow:hidden;
  width:0;
}

.stars-outer::before{
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color:#ccc;
  font-size:0.75em;
}

.stars-inner::before{
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color:#f8ce0b;
  font-size:0.75em;
}

.stars-outer-comment{
    position:relative;
    display:inline-block;
}

.stars-inner-comment{
  position:absolute;
  top:0;
  left:0;
  white-space:nowrap;
  overflow:hidden;
  width:0;
}

.stars-outer-comment::before{
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color:#ccc;
  font-size:1.5em;
}

.stars-inner-comment::before{
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color:#f8ce0b;
  font-size:0.75em;
}



#map {
  height: 400px;
  width: 100%;
}

.card-body span{
  float:right
}

.signup_icon{
  margin:auto;
  padding:10px;
  background-color:#ccc;
}

.input-group-text  {
  background-color:#ccc;
}
